<h1>Profile Page</h1>
<br>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap">

<div class="card">
  <img src="/images/fitness-potato.png" alt="potato" style="width:100%">
  <h2>@<%=@user.username%></h2>
  <p class="title"> Title: <%=@user.title%></p>
  <p>    EXP   : <%=@user.exp%></p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><a href="/users/<%=@user.username%>/edit"><button>Edit Profile</button></a></p>
  <% if current_user.id == @user.id  %>
    <p><a href="/entries/new"><button>New Log</button></a></p>
  <% end %>
  <p><a href="/logout"><button>Log Out</button></a></p>
</div>




<div class="entries">



</div>
